*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  margin: 50px 0;
}

.blog {
  width: 960px;
}

.bloglist{
  width: 300px;
  padding: 10px;
  border: 1px solid gray;
  float: left;
  position: relative;
  margin-bottom: 50px;
}
.tag{
  position: absolute;
  background-color: orange;
  color: white;
  top: 0;
  left: 0;
}

.bloglist:nth-child(2){
  margin: 0 30px;
  margin-bottom: 50px;
}


.image {
  width: 280px;
}
